@font-face{
    font-family:ml;
	src: url(../font/ml.otf);
	}
@font-face{
    font-family:mb1;
	src: url(../font/msb.otf);
	}
@font-face{
	font-family:mm;
	src: url(../font/mm.otf);
}
@font-face{
	font-family:mebold;
	src: url(../font/mebold.otf);
}
@font-face{
	font-family:mblack;
	src: url(../font/mblack.otf);
}
@font-face{
    font-family:sansb;
	src: url(../PTC75F_W.ttf);
	}
@font-face{
    font-family:sans;
	src: url(../ptc55f_w.ttf);
	}

@media print {
	.print-container {
		break-inside: avoid-page;
	}
}
.print-container {
	/*break-before: page;*/
}

.print-container{
	height: 100%;
}
body{

	font-family:ml;
	color:#80807f;
	font-size:12px;
}
.logo_manual{
	max-width: 70px;
	margin-right: -30px;
}
.container_logo{
	padding-right: 30px;
}
.table-manual-container{
	clear: both;
	padding-right: 30px;
}
.table-manual{
	width: 100%;

}
.img_meal{
	width: 100%;
}
.in_size_table{
	height: 100%;
	width: 100%;
	vertical-align:top;
}
.font-18{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
.font-14{
	font-size: 14px;
}
.font-12{
	font-size: 12px;
}
.font-10{
	font-size: 10px;
}
.font-8{
	font-size: 8px;
}
.notactive{
	opacity: 0.3;
}
.header_table{
	height: 30px;
	font-family: mblack;
	background: #c9463a;
	color:#ffffff;
}
.mebold{
	font-family: mebold;
}
.component_ttk{
	font-family: mm;
}