{% extends 'base.html.twig' %}

{% block title %}Ваши проекты{% endblock %}

{% block body %}
    <div class='zag1'>
        Ваши проекты
    </div>
    <div class='pzag'>
        <p>
            Добро пожаловать!
        </p>
        {% if projects %}
            Выберете проект над которым хотите поработать.
        {% else %}
            У вас пока нет ни одного проекта. Самое время его создать!
        {% endif %}
    </div>
    {% for project in projects %}
        <div class='name_project'>
            <a href="{{ path('summary', {'id': project.id}) }}">{{ project.projectName }}</a>
        </div>
    {% endfor %}
    <a href="{{ path('project_new') }}">
        <div class='buton'>
            Создать новый
        </div>
    </a>

{% endblock %}

